# Dependencies
node_modules/

# Next.js build output
.next/
out/
dist/

# Production build
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# IDE - VSCode
.vscode/*

# IDE - JetBrains
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Optional eslint cache
.eslintcache

# Browser test output
test-results/
playwright-report/
